.footer {
  display: flex;
  flex-direction: row;
  background-color: #674ea7;
  position: absolute;
  justify-content: center;
  width: 100%;
}

.footerText {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  color: beige;
  margin-top: -1%;
}

@media screen and (max-width: 640px) {
  .footerText {
    font-size: 1vh;
  }
}
