.backgroundColor {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: black;
}

.backgroungImage {
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-image: url("../assets/background.JPG");
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	position: absolute;
	opacity: 0.5;
	overflow: hidden;
}